body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
	  height: 100vh;
    font-family: sans-serif;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
nav{
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
}
h1{
    min-width: 0px;
    margin: 30px;
    font-style: italic;
    font-size: 3.5em;
    text-align: center;
  

}
.container{

 border-radius: 20px;
 padding: 20px;
margin-top: 30px;
background: rgba(255, 255, 255, 0.514);
}
footer{
    display: flex;
    justify-content: center;
  min-height: 100px;
}
p{
    font-size: 25px;
    color: white;
    margin-right: 30px;
}
a{
    text-decoration: none;
}

footer  img{
    width: 40px;
    transition: 800ms;
  }
  footer img:hover{
    transform: scale(2,2);
  }
  @media (max-width: 825px){
    footer .container{
      display: flex;
      flex-wrap: wrap;
      max-width: 80%;
    }
    table a{
     font-size: 0.7rem;
    }
  }
  @media (max-width:768px){
    h1{
 
        min-width: 700px;
    
    }
    .container{
        min-width: 700px;
        border-radius: 10px;
        padding: 10px;
       }
  }
  @media (max-width: 545px){
    table a{
     font-size: 0.55rem;
    }
  }
  @media (max-width: 470px){
    table a{
     font-size: 0.35rem;
    }
  }

