body{
    background: wheat;
}
.container{
    border-radius: 20px;
    background: white;
    margin-top: 10px;
    padding:20px 200px ;
}
.container img{
    /* width: 100px; */
    height: 150px;
}