body{
    background-image: url(../images/backgroundToys.jpg);
    background-size: cover;
    background-position:top;
    font-family: sans-serif;
}
.container{
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.521);
    margin-top: 20px;
    padding:50px ;
}
.container h1{
    color: white;
    margin: 0px;
}
.container .box{
   
    background:rgba(255, 255, 255, 0.685);
    border-radius: 20px;
     border:  4px rgba(0, 0, 0, 0.521)  solid;
}
.container img{
   height: 200px;
}
button{
margin-top: 10px ;
}